body{
background:url(bgdonate.png)no-repeat center fixed;
background-size:cover;
}

.button1 {
    background-color: rgba(0,0,255,0.7);
    border: solid;
    border-color:yellow;
    color: white;
    padding:;
    text-align: center;
    font-size: 20px;
    width: 100px;
    height: 30px;
}
.button1:hover {
background-color: rgba(0,255,0,0.7);
color: blue
}
.div {
    background-color: rgba(102,255,255,0.7) ;
    border: solid;
    border-color:yellow;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    width: 810px;
    
}
.label {font-size: 25px; color: blue;}
.option {
font-size: 20px;
font-style: ;
color: blue;
backgound-color: red;
}